<% content_for(:title) do %>
  LongDrinks | <%= @cocktail.name %>
<% end %>

<% content_for(:description) do %>
  LongDrinks | <%= @cocktail.name %>
<% end %>

<div class="well well-lg">
  <h1><%= @cocktail.name %></h1>
</div>
<div class="well well-lg">

<div class="well well-lg">
<p class="text-muted">
  <ul>
    <% @cocktail.ingredients.all.each do |ingr| %>
      <li><%= ingr.name %></li>
    <% end %>
  </ul>
</p>
</div>

<div>
  <%= link_to "Back to cocktails list", cocktails_path %> | <%= link_to "Edit cocktail", edit_cocktail_path(@cocktail) %>
</div>
